{{!-- Thêm Khoá Học --}}
    <form class="insert" method="post" action="/courses/store">
        {{!-- Mô tả--}}
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học </label>
            <input class="in-insert" type="text" class="form-control" id="name" name="name" placeholder="Tên khoá học">
        </div>
        {{!-- Mô tả--}}
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả </label>
            <input class="in-insert" type="text" class="form-control" id="description" name="description" placeholder="Mô tả">
        </div>
        {{!-- Mô tả--}}
        <div class="mb-3">
            <label for="videoID" class="form-label">Video </label>
            <input class="in-insert" type="text" class="form-control" id="videoID" name="videoID" placeholder="Link video">
        </div>
        {{!-- Mô tả--}}
        <div class="mb-3">
            <label for="image" class="form-label">Hình ảnh </label>
            <input class="in-insert" type="text" class="form-control" id="image" name="image" placeholder="Link hình ảnh">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Giá  </label>
            <input class="in-insert" type="text" class="form-control" id="courseprice" name="courseprice" placeholder="Giá khoá học">
        </div>

        <button type="submit" class="btn-header">Thêm </button>
    </form>