   <div class="course-detail">
            <h2 class="course-name">{{course.name}}</h2>
            <p2 class="course-description">{{course.description}}</p2>
            <a href="/">
       
            
    </div>
    <div>
         <img src="/css/img/Logo.svg" alt="Lesson." class="logo logo-show" />
      </a>
    </div>
<image class="course-videoID" width="760" height="430" src="{{course.videoID}}"></image>


       

       

{{!-- <div class="card card-show" >
  <div class="card-body">
    <h5 class="card-title">Giá: {{course.courseprice}}</h5>
    <p class="card-text">Ngày khai giảng:1/1/2024</p>
    <a href="#" class="btn btn-primary">ĐĂNG KÝ NGAY</a>
  </div>
</div> --}}





