<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Về chúng tôi</h4>
  	 			<ul>
  	 				<li><a href="#">Giới thiệu</a></li>
  	 				<li><a href="#">Dịch vụ</a></li>
  	 				<li><a href="#">Chính sách bảo mật</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Trợ giúp</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Kích hoạt khoá học</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Thông tin liên hệ</h4>
  	 			<ul>
  	 				<li><a href="#">Email: email@gmail.com</a></li>
  	 				<li><a href="#">Phone: + 000 1234 567 890</a></li>
  	 				<li><a href="#">Fax: + 000 1234 567 890</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
                   
  	 				<a href="#"><i class="fab fa-tiktok"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-youtube"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>