{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <h1>Đăng Ký</h1>

    <form action="/signup" method="post">
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

    <a href="/">Go back to login page</a>

</body>

</html> --}}


<div class="signup-from">
    <form action="/signup" method="post">
        <h2>Đăng Ký</h2>

        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="email" placeholder="Your Email">
        <input type="password" name="password" placeholder="Password">

        <button class="btn_signup" type="submit">Đăng Ký</button>
    </form>

    <div class="login-link">
        <a class="login-link-lv1" href="/login">Tôi đã có tài khoản.</a>
    </div>
</div>